<!-- This page is used for uploading a new image to the website -->

<!-- Import the base html file -->
{% extends "base.html.twig" %}

{% block content %}
<!-- Dynamically name the heading for Add, edit, delete -->
<h3>{{action}} Image</h3>

<!-- Create form to be submitted to get data entered when uploading a new image -->
<form method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{image.title}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" value="{{image.author}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="published_date">Date Published</label>
    <input type="text" name="published_date" id="published_date" value="{{image.published_date}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control">{{image.description}}</textarea>
  </div>

  <div class="form-group">
    <label for="image">Cover Image</label>
    <input type="file" name="image" id="image" class="form-control"/>
  </div>

  <div class="form-group hidden">
    <label for="image_url">Cover Image URL</label>
    <input type="text" name="image_url" id="image_url" value="{{image.image_url}}" class="form-control"/>
  </div>

  <!-- Add reCaptcha to the page with our site key-->
  <div class="g-recaptcha" data-sitekey="6Lf2i_cUAAAAAA6Vl-wJAcixPTTFh_tHqmzYgINz"></div>

  <button id="submit" type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}