{% extends "base.html.twig" %}

{% block content %}

<h3>Image Gallery</h3>
<p>Upload an image to our community</p>
<a href="/images/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  Add image
</a>

{% for image in images %}
<div class="media">
  <a href="/images/{{image.id}}">
    <div class="media-left">
      {% if image.image_url %}
        <img style = "max-width: 800px; max-height: 800px;" src="{{image.image_url}}">
      {% else %}
        <img src="http://placekitten.com/g/128/192">
      {% endif %}
    </div>
    <div class="media-body">
      <h4>{{image.title}}</h4>
      <p>{{image.author}}</p>
    </div>
  </a>
</div>
{% else %}
<p>No images found</p>
{% endfor %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}
