{% extends "base.html.twig" %}

{% block content %}

<h3>User</h3>
<form method="post" action="/users/{{user.id}}/delete" id="deleteForm">
  <div class="btn-group">
    <a href="/users/{{user.id}}/edit" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Edit user
    </a>
    <button id="submit" type="submit" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Delete user
    </button>
  </div>
</form>

<div class="media">
  <div class="media-left">
    <img class="user-image"
         src="{{ user.image_url ?: 'http://placekitten.com/g/128/192' }}">
  </div>
  <div class="media-body">
    <h4 class="user-player_name">
      {{user.player_name}}
    </h4>
    <h5 class="user-summoner_name">
      {{user.summoner_name}}
    </h5>
  </div>
</div>

{% endblock %}
