{# This page is used for viewing a particular image that has been uploaded #}

{# Import the base html file #}
{% extends "base.html.twig" %}

{% block content %}

<h3> {{image.title}} </h3>
<form method="post" action="/images/{{image.id}}/delete" id="deleteForm">
  <div class="btn-group">
    <a href="/images/{{image.id}}/edit" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Edit image
    </a>
    <button id="submit" type="submit" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Delete image
    </button>
  </div>
</form>

<div class="media">
  <div class="media-left">
    {# If an image doesn't exist for this upload, show the default kitten #}
    <img style = "max-width: 800px; max: 800px;"
         class="image-image"
         src="{{ image.image_url ?: 'http://placekitten.com/g/128/192' }}">
  </div>
  <div class="media-body">
    <h4 class="image-title">
      {{image.title}}
      <small>{{image.published_date}}</small>
    </h4>
    <h5 class="image-author">By {{image.author|default('Unknown', True)}}</h5>
    <p class="image-description">{{image.description}}</p>
  </div>
</div>

{% endblock %}